/* HeroesComponent's private CSS styles */
.heroes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

input {
  display: block;
  width: 100%;
  padding: .5rem;
  margin: 1rem 0;
  box-sizing: border-box;
}

.heroes li {
  position: relative;
  cursor: pointer;
}

.heroes li:hover {
  left: .1em;
}

.heroes a {
  font-family: 'Varela Round', sans-serif;
  color: #4e402c;
  text-decoration: none;
  background-color: #bfa5835f;
  margin: .5em;
  padding-top: 25px;
  height: 60px;
  border-radius: 16px;
  display: block;
  width: 550px;
  text-align: left;
  font-size: 30px;
}

.heroes a:hover {
  color: #fff;
  background-color: #8b916d;
}

.heroes a:active {
  background-color: #bfa583;
  color: #fafafa;
}

.heroes .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 10px;
  background-color: #8b916d;
  height: 20px;
  width: 20px;
  text-align: center;
  border-radius: 0px 16px 16px 0px;
  font-family: 'Varela Round', sans-serif;
}



.title{
  font-family: 'Varela Round', sans-serif;
font-size: 40px;
color: rgb(85, 50, 50);
text-align: left;
margin-top: -90px;
margin-bottom: 40px;
margin-left: 20px;
letter-spacing: 12px;
text-transform: uppercase;
}
